<html>
    <form action="/recipes" method="POST">
        <label for="name">Recipe Name:</label>
        <input type="text" name="name" required>
        <br>
        <label for="preparation">Preparation:</label>
        <textarea name="preparation" required></textarea>
        <br>
        <label for="ingredients">Ingredients:</label>
        <select name="ingredients" multiple>
          <% ingredients.forEach(function(ingredient) { %>
            <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
          <% }) %>
        </select>
        <br>
        <input type="submit" value="Create Recipe">
      </form>

</html>
