
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Find a Recipe</h1>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="What are your taste buds in the mood for?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-danger" type="Search">Search</button>
                            </div>
                          </div>
                      <!-- <p class="fs-4">Recipes! The app for all your recipes!! Ever need to make a meal with ingredients in your kitchen and don’t know what to make? *BOOM!* ‘Recipes!’ the app just for YOU!</p> -->
                      <img src="css/images/lily-banse--YHSwy6uqvk-unsplash (1).jpg" class="img-fluid" alt="Responsive image">
                        <!--<img src="css/images/lily-banse--YHSwy6uqvk-unsplash (1).jpg" alt=” steak dinner ” width="850" height="450">-->
                       <!-- <a class="btn btn-primary btn-lg" href="#!">Recipe of The Day!</a> -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                               <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="btn btn-primary btn-sm"></i></div> -->
                                <h2 class="fs-4 fw-bold">Recipe Here</h2>
                                <img src="css/images/pexels-jer-chung-2116094.jpg"class="img-fluid" alt="Responsive image">
                                <p class="mb-0">Here's where the description of a delicious recipe will go. stay tuned for greatness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                
                                <h2 class="fs-4 fw-bold">Recipe Here</h2>
                                <img src="css/images/pexels-naim-benjelloun-1618894.jpg"class="img-fluid" alt="Responsive image">
                                <p class="mb-0">Here's where the description of a delicious recipe will go. stay tuned for greatness..</p>
                               <!-- <button type="button" class="btn btn-primary btn-sm">Small button</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                               <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div> -->
                                <h2 class="fs-4 fw-bold">Recipe Here</h2>
                                <img src="css/images/pexels-sydney-troxell-718739.jpg"class="img-fluid" alt="Responsive image">
                                <p class="mb-0">Here's where the description of a delicious recipe will go. stay tuned for greatness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                               <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div> -->
                                <h2 class="fs-4 fw-bold">Recipe Here</h2>
                                <img src="css/images/pexels-valeria-boltneva-1484522.jpg"class="img-fluid" alt="Responsive image">
                                <p class="mb-0">Here's where the description of a delicious recipe will go. stay tuned for greatness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <!--<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>-->
                                <h2 class="fs-4 fw-bold">Recipe Here</h2>
                                <img src="css/images/pexels-naim-benjelloun-1618894.jpg"class="img-fluid" alt="Responsive image">
                                <p class="mb-0">Here's where the description of a delicious recipe will go. stay tuned for greatness.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                               <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div> -->
                                <h2 class="fs-4 fw-bold">Recipe Here</h2>
                                <img src="css/images/pexels-quang-nguyen-vinh-2144200.jpg"class="img-fluid" alt="Responsive image">
                                <p class="mb-0">Here's where the description of a delicious recipe will go. stay tuned for greatness.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
    </body>
</html>
