
  <div class="login">
          <h1>Login</h1>
          <form action="/auth" method="post">
            <label for="username">
              <!-- font awesome icon -->
              <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Chef's Login" id="username" required>
            <label for="password">
              <i class="fa-light fa-book"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="submit" value="Login">
          </form>
        </div>
       
    </body>
</html>
